<a href="https://colab.research.google.com/github/RishithaPingili/Rishitha_INFO5502_Spring2022/blob/main/lab_assignment_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The seventh Lab-assignment (03/31/2022, 50 points in total)

The purpose of this exercise is to build several regression models based on real-world datasets.

### Question 1 (25 points) Build a regession model to predict the change in price of the stock overtime. It can either be linear regression or non-linear regression. You can download the dataset from here: https://github.com/unt-iialab/info5502-spring2022/blob/main/datasets/portfolio_data.csv. The implementation of the LSTM on this same dataset was posted here as an reference: https://www.kaggle.com/code/faressayah/stock-market-analysis-prediction-using-lstm/notebook

In [30]:
### You code here
#mounted google drive to import the datasets
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [31]:
#imported required libraries
import pandas as pd
#import portfolio data
pf_data = pd.read_csv("/content/gdrive/MyDrive/portfolio_data.csv")
pf_data

           Date         AMZN         DPZ          BTC        NFLX
0      5/1/2013   248.229996   51.190983   106.250000   30.415714
1      5/2/2013   252.550003   51.987320    98.099998   30.641428
2      5/3/2013   258.049988   52.446388   112.900002   30.492857
3      5/6/2013   255.720001   53.205257   109.599998   30.098572
4      5/7/2013   257.730011   54.151505   113.199997   29.464285
...         ...          ...         ...          ...         ...
1515   5/8/2019  1917.770020  283.149994  6171.959961  364.369995
1516   5/9/2019  1899.869995  282.160004  6358.290039  362.750000
1517  5/10/2019  1889.979980  278.369995  7191.359863  361.040009
1518  5/13/2019  1822.680054  273.880005  7980.129883  345.260010
1519  5/14/2019  1840.119995  272.859985  8183.830078  345.609985

[1520 rows x 5 columns]

In [32]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [33]:
#Prediction using linear regression model
x = pf_data.drop(['Date', 'NFLX'], axis = 1)
y = pf_data['NFLX']

#splitting the data into train and test datasets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.30, random_state = 40)

#predictions based on linear regression model
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
#predictions on the test set
y_predict_test = linear_reg.predict(X_test)
print("RMSE score in linear regression model on test data : ",np.sqrt(mean_squared_error(y_test, y_predict_test)))
print("R2 Score in linear regression model on test data : ", r2_score(y_test, y_predict_test))

RMSE score in linear regression model on test data :  20.604871131423785
R2 Score in linear regression model on test data :  0.9600294713426998

In [35]:
#Prediction using non-linear regression model
#using decision tree regressor as it is one of the non linear regression model
dec_tree = DecisionTreeRegressor(max_depth=8, min_samples_leaf=0.13, random_state=3)
#fitting the model on the training set 
dec_tree.fit(X_train, y_train)
#prediction based on test data 
predict_tree_test= dec_tree.predict(X_test)
#prints the evaluation metrics - RMSE and R-squared - on the test set.
print("RMSE score in decision tree regression model on test data", (np.sqrt(mean_squared_error(y_test,predict_tree_test))))
print("R2 score in decision tree regression model on test data",r2_score(y_test, predict_tree_test))

RMSE score in decision tree regression model on test data 24.48903295409532
R2 score in decision tree regression model on test data 0.9435396770079084

In [36]:
#prediction based on training data 
predict_tree_train= dec_tree.predict(X_train)
#prints the evaluation metrics - RMSE and R-squared - on the training set.
print("RMSE score in decision tree regression model on train data", (np.sqrt(mean_squared_error(y_train,predict_tree_train))))
print("R2 score in decision tree regression model on train data",r2_score(y_train, predict_tree_train))

RMSE score in decision tree regression model on train data 24.28656236881118
R2 score in decision tree regression model on train data 0.9507319326187789

### Question 2 (25 points) The objective of this task is to detect hate speech in tweets. For the sake of simplicity, we say a tweet contains hate speech if it has a racist or sexist sentiment associated with it. So, the task is to classify racist or sexist tweets from other tweets. Formally, given a training sample of tweets and labels, where label '1' denotes the tweet is racist/sexist and label '0' denotes the tweet is not racist/sexist, your objective is to predict the labels on the test dataset. The dataset can be downloaded here: https://github.com/unt-iialab/info5502-spring2022/tree/main/datasets/Twitter%20Sentiment%20Analysis. Please build a logistic regression model for the classification, evaluation metrics include accuracy, precision, recall, and F-1 score need to be reported.

In [37]:
### You code here:

#importing necessary libraries
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_selection import chi2
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
import pickle
import sqlite3
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import nltk
nltk.download('stopwords')
#stop words of englis language
stopwords = stopwords.words("english")
stopwords = [re.sub('[^a-zA-Z0-9]+', '', word) for word in stopwords]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
#imported the train dataset 
train_data = pd.read_csv("/content/gdrive/MyDrive/train.csv")
train_data

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [39]:
#removing all the special characters from the tweets and cleansing the column tweets
train_data['tweet_cleansed'] = train_data['tweet'].str.replace('[^a-zA-Z0-9 ]', '')
train_data['tweet_cleansed'] = train_data['tweet_cleansed'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))
#getting the data where label=1 which are racist/sexist tweets
racist_tdata = train_data[train_data.label == 1]
racist_tdata

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

,id,label,tweet,tweet_cleansed
13,14,1,@user #cnn calls #michigan middle school 'buil...,user cnn calls michigan middle school build wa...
14,15,1,no comment! in #australia #opkillingbay #se...,comment australia opkillingbay seashepherd hel...
17,18,1,retweet if you agree!,retweet agree
23,24,1,@user @user lumpy says i am a . prove it lumpy.,user user lumpy says prove lumpy
34,35,1,it's unbelievable that in the 21st century we'...,unbelievable 21st century wed need something l...
...,...,...,...,...
31934,31935,1,lady banned from kentucky mall. @user #jcpenn...,lady banned kentucky mall user jcpenny kentucky
31946,31947,1,@user omfg i'm offended! i'm a mailbox and i'...,user omfg im offended im mailbox im proud mail...
31947,31948,1,@user @user you don't have the balls to hashta...,user user balls hashtag say weasel away lumpy ...
31948,31949,1,"makes you ask yourself, who am i? then am i a...",makes ask anybody god oh thank god
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",user sikh temple vandalised calgary wso condem...

In [40]:
regular_tdata= train_data[train_data.label == 0]
regular_tdata

,id,label,tweet,tweet_cleansed
0,1,0,@user when a father is dysfunctional and is s...,user father dysfunctional selfish drags kids d...
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks lyft credit cant use cause of...
2,3,0,bihday your majesty,bihday majesty
3,4,0,#model i love u take with u all the time in ...,model love u take u time ur
4,5,0,factsguide: society now #motivation,factsguide society motivation
...,...,...,...,...
31956,31957,0,off fishing tomorrow @user carnt wait first ti...,fishing tomorrow user carnt wait first time 2 ...
31957,31958,0,ate @user isz that youuu?ðððððð...,ate user isz youuu
31958,31959,0,to see nina turner on the airwaves trying to...,see nina turner airwaves trying wrap mantle ge...
31959,31960,0,listening to sad songs on a monday morning otw...,listening sad songs monday morning otw work sad
31961,31962,0,thank you @user for you follow,thank user follow

In [41]:

nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()

# applying lemmatization on the tweets
train_data['tweet_cleansed'] = train_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="v") for word in row.split()))
train_data['tweet_cleansed'] = train_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="a") for word in row.split()))
train_data['tweet_cleansed'] = train_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="n") for word in row.split()))
train_data['tweet_cleansed'] = train_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="r") for word in row.split()))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [42]:
X = train_data['tweet_cleansed']
Y = train_data['label']
# Performs the TF-IDF transformation
vect = TfidfVectorizer(min_df = 3, ngram_range=(1, 2))
#fit the train data and generating the required features
vect = vect.fit(X)
X_char = vect.transform(X).toarray()
X_train, X_test, Y_train, Y_test = train_test_split(X_char, Y, test_size=0.4)

# building logistic regression model based on the given data 
logistic_reg = LogisticRegression()
pred = logistic_reg.fit(X_train, Y_train)

In [43]:
# printing the evaluation metrics which includes precision,recall,f1 score and support
print("Confusion matrix obtained:")
print(confusion_matrix(Y_test, pred.predict(X_test)))
print("Classification report obtained:")
print(classification_report(Y_test, pred.predict(X_test)))

Confusion matrix obtained:
[[11820    19]
 [  719   227]]
Classification report obtained:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97     11839
           1       0.92      0.24      0.38       946

    accuracy                           0.94     12785
   macro avg       0.93      0.62      0.68     12785
weighted avg       0.94      0.94      0.93     12785

In [44]:
#importing test data 
test_data = pd.read_csv("/content/gdrive/MyDrive/test.csv")
test_data

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [29]:

test_data['tweet_cleansed'] = test_data['tweet'].str.replace('[^a-zA-Z0-9 ]', '')
test_data['tweet_cleansed'] = test_data['tweet_cleansed'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

test_data['tweet_cleansed'] = test_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="v") for word in row.split()))
test_data['tweet_cleansed'] = test_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="n") for word in row.split()))
test_data['tweet_cleansed'] = test_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="a") for word in row.split()))
test_data['tweet_cleansed'] = test_data['tweet_cleansed'].apply(lambda row: " ".join(wordnet_lemmatizer.lemmatize(word, pos="r") for word in row.split()))

test_feat = vect.transform(test_data['tweet_cleansed'])
print(test_feat.shape)

test_data_pred = pred.predict(test_feat)
print(test_data_pred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

(17197, 17049)
[0 0 0 ... 0 0 0]